<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#brand-update">
    Güncelle
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="brand-update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="brandUpdateForm">
            <div class="mb-3">
                <label>Marka ID</label>
                <input type="text" class="form-control" formControlName="brandId">
            </div> 
            <div class="mb-3">
                <label>Marka Adı</label>
                <input type="text" class="form-control" formControlName="brandName">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-success" (click)="update()">Değişiklikleri Kaydet</button>
        </div>
      </div>
    </div>
  </div>
